<script>
  window.uxstack =
    window.uxstack ||
    function () {
      (uxstack.calls = uxstack.calls || []).push(arguments);
    };
  uxstack("create", "0191ddca-84e6-7ccd-8835-26eacf65c038", {
    version: "v1.0.0",
    modules: {
      track: {
        url: "https://cognitive.uxstack.cloud",
      },
    },
  });

  // uxstack("track.identify", "1234");
</script>
<script async src="https://sdk.uxstack.cloud/v1/dev/uxstack.js"></script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Blog",
    "name": "{{- .Site.Title -}}",
    "author": {
      "@type": "Person",
      "name": "{{- .Site.Title -}}",
      "url": "{{- .Site.BaseURL -}}",
      "sameAs": [
        {{- range $i, $e := .Site.Menus.social -}}
        {{ if $i }},{{ end -}}
        "{{- $e.URL -}}"
        {{- end -}}
      ],
      "image": "{{- strings.TrimRight "/" .Site.BaseURL -}}{{- .Site.Params.sidebar.avatar.src -}}"
    },
    "url": "{{- .Site.BaseURL -}}"
  }
</script>
